@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');

/* ==================== 
>>> Variables
==================== */

:root {
    --color-secondary: #888888;
    --color-background: #fefefe;
    --color-accent: #1b1a19;
    --font-primary: 'Inter Tight';
    --font-secondary: 'Just Me Again Down Here';
    --font-weight: 500;
    
}

/* ==================== 
>>> Global Rulesets
==================== */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background: var(--color-background); 
}

/* ==================== 
>>> Rulesets
==================== */

header.header {
    background: var(--color-background);
    height: 120px;
    max-width: 1000px;
    margin: 0 auto;
}

header.header img {
    width: 48px
}

header.header .interactions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.header .interactions a {
    position: relative;
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    background: transparent;
    padding: 16px 0 8px 0;
    font-family: var(--font-primary);
    font-size: 16px;
    color: var(--color-accent);
    transition: all 0.2s ease-in-out;
    color: var(--color-accent);
}

header.header .interactions a:hover {
    color: var(--color-accent);
}

header.header .interactions a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: var(--color-accent);
    z-index: 0;
    transition: all 0.2s ease-in-out;
}

header.header .interactions a:hover::before {
    width: 100%;
}

header {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    background: var(--color-accent);
    color: var(--color-background);
    margin-bottom: 48px;
}

header h1 {
    font-family: var(--font-primary);
    font-size: 3em;
    font-weight: 500;
}

div.treated {
    margin: 0 auto;
    max-width: 1000px;
}

h1.header {
    color: var(--color-accent);
    font-family: var(--font-primary);
    max-width: 1000px;
    padding-bottom: 12px;
    border-bottom: solid 2px;
    font-weight: var(--font-weight);
    margin: 0 48px;
}

p.text {
    color: var(--color-accent);
    font-family: var(--font-primary);
    max-width: 1000px;
    padding: 32px 0;
    font-size: 18px;
    font-weight: var(--font-weight);
    margin: 0 48px;
}

p.info {
    color: var(--color-accent);
    font-family: var(--font-primary);
    max-width: 1000px;
    padding: 32px 32px;
    font-size: 18px;
    font-weight: var(--font-weight);
    border-left: solid 5px #57d057;
    background: #57d05770;
    margin: 0 48px;
}

p.warn {
    color: var(--color-accent);
    font-family: var(--font-primary);
    max-width: 1000px;
    padding: 32px 32px;
    font-size: 18px;
    font-weight: var(--font-weight);
    border-left: solid 5px #f1da56;
    background: #f1da5670;
    margin: 0 48px;
}

a.ref {
    color: var(--color-secondary);
    position: relative;
    transition: all 0.2s ease-in-out;
}

a.ref:hover {
    color: var(--color-accent);
}

a.ref::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #88888870;
    z-index: -1;
    transition: all 0.2s ease-in-out;
}

a.ref:hover::before {
    width: 100%;
}

a.btn {
    position: relative;
    margin: 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    background: transparent;
    padding: 16px 0;
    font-family: var(--font-secondary);
    font-size: 16px;
    color: var(--color-accent);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: var(--color-primary);
}

a.btn:hover {
    color: var(--color-accent);
}

a.btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: var(--color-primary);
    z-index: 0;
    transition: all 0.2s ease-in-out;
}

a.btn:hover::before {
    width: 100%;
}

a.btn.unavailable {
    cursor: not-allowed;
    color: #726c69;
}

a.btn.unavailable:hover::before {
    width: 0;
}