@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    word-spacing: 1px;
    cursor: none;
}

*::selection {
    background: var(--main-color);
}

*::-webkit-scrollbar {
    display: none;
}

:root {
    --main-color: #ff6c36;
    
    --white-color: #fffafa;
    --light-color: #c5bfbf;
    
    --inte-color: #37363a;
    
    --dark-color: #212024;
    --black-color: #0f0e13;
    
    --radius: 16px;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 64px;
    background: var(--white-color);
}

header {
    padding: 24px 0 48px 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0 48px 0;
    margin-top: 32px;
    border-top: solid 1px var(--light-color);
}

footer p,
footer a {
    margin-bottom: 0;
    font-size: 0.9em;
}

/* >>>>>>>>>>>>>>>>>>>>> ##
## Notifications Center  ##
## <<<<<<<<<<<<<<<<<<<<< */

.notifications {
    position: fixed;
    bottom: 12px;
    right: 12px;
    width: 300px;
    height: fit-content;
}

.item {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 48px auto;
    grid-template-rows: 64px;
    max-width: 100%;
    gap: 8px;
    background: transparent;
    backdrop-filter: blur(132px);
    border-radius: var(--radius);
    border: solid 1px var(--light-color);
    padding: 0 24px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    transform: translateX(110%);
}

.item .loading {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    border-radius: 0 var(--radius) var(--radius) 0;
    background: var(--light-color);
    transition: all 0.2s ease-in-out;
}

.item ion-icon {
    font-size: 2em;
    color: var(--dark-color);
}

.item span {
    font-family: 'Inter Tight';
    font-size: 1em;
    color: var(--dark-color);
}

/* >>>>>>>>>>>>>>>>>>>>> ##
## Cursor                ##
## <<<<<<<<<<<<<<<<<<<<< */

.cursor {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: var(--dark-color);
    opacity: 0.6;
    backdrop-filter: invert(1);
    pointer-events: none;
    transform: translateX(-50%) translateY(-50%);
}

.cursorring {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: var(--light-color);
    border: solid 1px var(--inte-color);
    opacity: 0.4;
    pointer-events: none;
    transform: translateX(-50%) translateY(-50%);
}

/* >>>>>>>>>>>>>>>>>>>>> ##
## Header                ##
## <<<<<<<<<<<<<<<<<<<<< */

h1 {
    font-family: 'Inter Tight';
    font-size: 2em;
    color: var(--dark-color);
    padding-bottom: 16px;
}

h2 {
    font-family: 'Inter Tight';
    font-size: 1.8em;
    color: var(--dark-color);
    padding-bottom: 16px;
}

h3 {
    font-family: 'Inter Tight';
    font-size: 1.4em;
    color: var(--dark-color);
    padding-bottom: 16px;
}

/* >>>>>>>>>>>>>>>>>>>>> ##
## Paragraph             ##
## <<<<<<<<<<<<<<<<>><<< */

p {
    font-family: 'Inter Tight';
    font-size: 1.1em;
    color: var(--inte-color);
    margin-bottom: 16px;
}

/* >>>>>>>>>>>>>>>>>>>>> ##
## Lists                 ##
## <<<<<<<<<<<<<<<<>><<< */

li {
    font-family: 'Inter Tight';
    font-size: 1.1em;
    color: var(--inte-color);
    margin: 8px 0;
}

/* >>>>>>>>>>>>>>>>>>>>> ##
## Link                  ##
## <<<<<<<<<<<<<<<<>><<< */

.link {
    position: relative;
    font-family: 'Inter Tight';
    color: var(--main-color);
    margin-bottom: 16px;
    transition: all 0.2s ease-in-out;
}

.link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    padding: 4px 10px;
    opacity: 1;
    z-index: -1;
    transform: translateX(-10px) translateY(4px);
    transition: all 0.2s ease-in-out;
    border-radius: calc(var(--radius) - 6px);
}

.link:hover {
    margin: 0 10px;
    margin-bottom: 16px;
    color: var(--white-color);
}

.link:hover::before {
    background: var(--main-color);
}

/* >>>>>>>>>>>>>>>>>>>>> ##
## Miscellaneous         ##
## <<<<<<<<<<<<<<<<>><<< */

.bar {
    margin: 32px 0;
    height: 1px;
    background: var(--light-color)
}

.transparant {
    background: transparent;
}


/* >>>>>>>>>>>>>>>>>>>>> ##
## Buttons: Main         ##
## <<<<<<<<<<<<<<<<>><<< */

.button-main {
    background: var(--dark-color);
    color: var(--light-color);
    border: none;
    border-radius: var(--radius);
    padding: 10px 18px;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.2s ease-in-out;
}

.button-main:hover {
    background: var(--inte-color);
    scale: 0.95;
}

.button-alt:active {
    scale: 0.8;
}

.button-main ion-icon {
    font-size: 1.2rem;
}

.button-main span {
    font-family: 'Inter Tight';
    font-weight: 500;
    font-size: 1rem;
}

/* >>>>>>>>>>>>>>>>>>>>> ##
## Buttons: Alternative  ##
## <<<<<<<<<<<<<<<<<<<<< */

.button-alt {
    background: var(--inte-color);
    color: var(--light-color);
    border: none;
    border-radius: var(--radius);
    padding: 10px 18px;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.2s ease-in-out;
}

.button-alt:hover {
    background: none;
    scale: 0.95;
}

.button-alt:active {
    scale: 0.8;
}

.button-alt ion-icon {
    font-size: 1.2rem;
}

.button-alt span {
    font-family: 'Inter Tight';
    font-weight: 500;
    font-size: 1rem;
}

/* >>>>>>>>>>>>>>>>>>>>> ##
## Buttons: Translucid   ##
## <<<<<<<<<<<<<<<<<<<<< */

.button-trans {
    backdrop-filter: blur(12px);
    background: #00000030;
    color: var(--light-color);
    border: none;
    border-radius: var(--radius);
    padding: 10px 18px;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.2s ease-in-out;
}

.button-trans:hover {
    background: #00000017;
    scale: 0.95;
}

.button-trans:active {
    scale: 0.8;
}

.button-trans ion-icon {
    font-size: 1.2rem;
}

.button-trans span {
    font-family: 'Inter Tight';
    font-weight: 500;
    font-size: 1rem;
}

/* >>>>>>>>>>>>>>>>>>>>> ##
## Image                 ##
## <<<<<<<<<<<<<<<<>><<< */

.image {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 8px;
    margin: 32px 0;
    border-radius: calc(var(--radius) + 8px);
    background: #e2dede;
    border: solid 2px #cfcaca;
}

.image img {
    display: block;
    width: 100%;
    border-radius: var(--radius);
}

.image a {
    position: absolute;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    scale: 1.1;
}

.image:hover a {
    opacity: 1;
    scale: 1;
}

.image a:hover {
    scale: 0.95;
}

.image a:active {
    scale: 0.8;
}


