@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --color-main: #FF6C36;
    --color-black: #0F0E13;
    --color-dgray: #5D5B63;
    --color-snow: #fffafa;
    --color-lgray: #DBDBDB;
    --color-ok: #32ADDA;
    
    --font: 'JetBrains Mono';
}

body {
    background: var(--color-snow);
    max-width: 600px;
    margin: 0 auto;
    padding: 96px 32px;
}

*::selection {
    background: var(--color-main);
    color: var(--color-black);
}

/* ####################
>>> Header Image
*/

header {
    display: flex;
    align-items: center;
}

header img {
    margin-bottom: 64px;
}

/* ####################
>>> Titles
*/

h1 {
    font-family: var(--font);
    font-size: 1.6rem;
    color: var(--color-black);
    padding-bottom: 12px;
}

h2 {
    font-family: var(--font);
    font-size: 1.4rem;
    color: var(--color-black);
}

h3 {
    font-family: var(--font);
    font-size: 1.2rem;
    color: var(--color-black);
}

/* ####################
>>> Paragraph
*/

p {
    font-family: var(--font);
    font-size: 1rem;
    color: var(--color-dgray);
    max-width: 470px;
}

/* ####################
>>> Links
*/

a {
    position: relative;
    color: var(--color-main);
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: var(--color-black);
}

a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--color-main);
    z-index: -1;
    padding: 4px;
    border-radius: 4px;
    transform: translateX(-3px) translateY(4px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

a:hover::before {
    width: 100%;
    opacity: 1;
}

/* ####################
>>> Miscellaneous
*/

div.separator {
    width: 80%;
    height: 2px;
    margin: 24px 0;
    background: var(--color-lgray);
}

/* ####################
>>> Footer
*/

footer {
    background: var(--color-snow);

    padding: 96px 32px;
    width: 100%;
    height: 200px;
    border-top: solid 1px var(--color-vgray);
}

/* ####################
>>> IFrame (Videos)
*/

.video {
    position: relative;
    border-radius: 12px;
    max-width: 500px;
    max-height: 280px;
}