@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Katahdin Round';
    src: url(assets/fonts/KatahdinRound-Bold.otf);
}

/* ==================== 
>>> Variables
==================== */

:root {
    --color-primary: #ffc16b;
    --color-background: #1B1A19;
    --color-accent: #fffafa;
    --font-primary: 'Katahdin Round';
    --font-secondary: 'Urbanist';
    --font-weight: 300;
}

/* ==================== 
>>> Global Rulesets
==================== */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background: var(--color-background);
    overflow: hidden;
    
    max-width: 1000px;
    margin: 0 auto;
}

/* ==================== 
>>> Animations
==================== */

@keyframes rollingline {
    0% {
        transform: translateX(-50%) translateY(100%);
    }
    
    0.5% {
        transform: translateX(-48%) translateY(0%);
    }
    
    99.5% {
        transform: translateX(2%) translateY(0%);
    }
    
    100% {
        transform: translateX(0%)  translateY(100%);
    }
}

/* ==================== 
>>> Singular Rulesets
==================== */

#bg {
    position: absolute;
    z-index: -1;
    top: 1;
    left: 0;
    height: 100vh;
    width: 100%;
    background: url(assets/bg.png);
    background-position-x: center;
    background-repeat: no-repeat;
}

#line {
    background: url(assets/line.png);
    height: 60px;
    width: 200%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-50%);
    animation-name: rollingline;
    animation-duration: 90s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#copy {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: var(--color-background);
    font-family: var(--font-secondary);
}

/* ==================== 
>>> SECTION: LANDING
==================== */

.landing {
    height: 100vh;
}

.landing .header {
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 64px;
}

.landing .header .logo {
    width: 128px;
}

.landing .header .interactions {
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing .header .interactions button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px var(--color-accent);
    border-radius: 24px;
    width: fit-content;
    height: 70px;
    background: transparent;
    padding: 16px 32px;
    font-family: var(--font-secondary);
    font-size: 32px;
    color: var(--color-accent);
    transition: all 0.2s ease-in-out;
}

.landing .header .interactions button:hover {
    background: var(--color-primary);
    color: var(--color-background);
}
.landing .header .interactions button .lang-scroll {
    transform: translateY(2px);
}

.landing .header .interactions button .lang {
    padding-right: 16px;
}

.landing .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.landing .title .emphasis {
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 36px;
    color: var(--color-accent);
    padding-bottom: 16px;
}

.landing .title .name {
    text-align: center;
    font-family: var(--font-primary);
    font-size: 64px;
    color: var(--color-primary);
    padding-bottom: 4px;
}

.landing .title .description {
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 36px;
    color: var(--color-accent);
    max-width: 600px;
    padding-bottom: 32px;
}

.landing .title .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing .title .buttons .buttons-item {
    position: relative;
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px var(--color-accent);
    border-radius: 24px;
    width: fit-content;
    background: transparent;
    padding: 16px 32px;
    font-family: var(--font-secondary);
    font-size: 32px;
    color: var(--color-accent);
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.landing .title .buttons .buttons-item:hover {
    color: var(--color-background);
    border-color: var(--color-primary);
}

.landing .title .buttons .buttons-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--color-primary);
    z-index: -1;
    transition: all 0.2s ease-in-out;
    clip-path: circle(100.0% at 0 50%);
}

.landing .title .buttons .buttons-item:hover::before {
    width: 150%;
}