@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');

/* ==================== 
>>> Variables
==================== */

:root {
    --color-secondary: #888888;
    --color-background: #1b1a19;
    --color-accent: #fefefe;
    --font-primary: 'Inter Tight';
    --font-secondary: 'Just Me Again Down Here';
    --font-weight: 500;
}

/* ==================== 
>>> Animation Ruleset (app.js co-sided)
==================== */

.AnimHidden {
    opacity: 0;
    transform: translateY(100px);
    filter: blur(10px);
    transition: all 1s ease-in-out;
}

.AnimShow {
    opacity: 1;
    transform: translateY(0px);
    filter: blur(0);
}

/* ==================== 
>>> Global Rulesets
==================== */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

*::selection {
    background: #f1da5670;
    backdrop-filter: invert(100%);
    
    border-radius: 12px;
    position: relative;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: var(--color-background);
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
    padding: 100px 100px 0 100px;
}

/* ==================== 
>>> Section: Land
==================== */

.land {
    position: relative;
    min-height: 100vh;
    background: var(--color-background);
}

.land img {
    width: 128px;
    height: 128px;
}

.land .links {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 80px;
}

.land .links a {
    z-index: 1;
    padding: 12px 24px;
    position: relative;
    font-size: 3em;
    font-family: var(--font-primary);
    font-weight: var(--font-weight);
    color: var(--color-accent);
}

.land .links a:hover {
    transition: all 0.2s ease-in-out;
    color: var(--color-background);
}

.land .links a:nth-child(1) {
    transition-delay: 200ms;
}

.land .links a:nth-child(2) {
    transition-delay: 400ms;
}

.land .links a:nth-child(1)::before {
    background: #F1DA56;
    transform: rotate(3deg);
}

.land .links a:nth-child(2)::before {
    background: #f155a3;
    transform: rotate(-2deg);
}

.land .links a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 0;
    background: #88888870;
    z-index: -1;
    border-radius: 24px 24px 24px 4px;
    transition: all 0.2s cubic-bezier(.5,0,.5,1.4);
    opacity: 0;
}

.land .links a:hover::before {
    height: 100%;
    width: 100%;
    opacity: 100%;
}

/* ==================== 
>>> Footer
==================== */

footer {
    height: 20vh;
    background: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    position: relative;
}

footer img {
    padding-top: 32px;
    width: 32px;
    height: 32px;
}

footer .lang {
    padding-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 220px;
}

footer .lang a {
    font-size: 18px;
    font-family: var(--font-primary);
    font-weight: var(--font-weight);
    color: var(--color-accent);
}

footer .lang a:hover {
    text-decoration: underline;
}

footer .refs {
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

footer .refs a, footer .refs p {
    font-size: 18px;
    font-family: var(--font-primary);
    font-weight: var(--font-weight);
    color: var(--color-accent);
}

footer .refs a:hover {
    text-decoration: underline;
}

/* ==================== 
>>> Media Queries: Mobile Adaptation
==================== */

@media screen and (max-width: 768px) {
    
    .sidepanel {
        display: flex;
    }
    
    header img {
        width: 64px;
        height: 64px;
    }
    
    header .links {
        display: none;
    }
    
    header .burger {
        display: block;
    }
    
    .land .box .top {
        font-size: 16px;
    }
    
    .land .box .text {
        font-size: 32px;
    }
    
    .land .box .text .textColored1 {
        font-size: 64px;
    }
    
    .land .box .text .textColored2 {
        font-size: 64px;
    }
}